.body {
  min-height: 100vh;
  background-color: #e7f6ff;
  padding: 5%;
}
.mainPageBackground {
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 20px;
}
:focus-visible {
  outline: 2px solid #3b5df6;
  outline-offset: 2px;
}
